name: 'Check for stale issues and close ones without logs'

permissions:
  actions: write
  contents: write
  issues: write
  pull-requests: write

on:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - name: 'Run stale bot'
        uses: actions/stale@v10
        with:
          days-before-stale: '90'
          stale-issue-message: >
            Hi, this issue has been open more than 90 days ago and has received no updates.
            
            If you reported a bug:
            - Has the issue been solved by an update in the meanwhile?
            - Make sure logs are attached properly to the report as those are **always** needed.
            
            If you requested a feature:
            - Make sure you provided all the information needed 
            - Double check if any questions about the feature remain in the comment thread
            
            If no updates are provided within 30 days, this issue will be closed automatically.
            Thank you!
          days-before-close: '30'
          only-labels: 'needs more information'
          stale-issue-label: 'stale'
          exempt-draft-pr: 'true'
          exempt-issue-labels: 'nostale'
          close-issue-message: >
            Hi, this issue was closed due to inactivity.
            
            If you wish to have it re-opened please:
            - Provide the information requested (additional feature details, logs, etc)
            - Make sure all questions in the comment thread are answered
            
            Thanks you again!
